@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;;
}

:root {
    --orange: #f6755e;
    --blue: #25a2c3;
    --light-grey: #757c84;
    --muted: #dee1e3;
    --bg-light: #e5e5e5;
}

a {
    text-decoration: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.btn, .btn-primary {
    border-radius: .3rem;
    border: 1px solid var(--bg-light);
    padding: 1.2rem 2.2rem;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.2rem;
    color: var(--light-grey);
    background: transparent;
    cursor: pointer;
}

.btn-primary {
    background-color: var(--orange);
    color: var(--bg-light);
}

.btn-primary:hover {
    opacity: .9;
}

.btn:hover {
    background-color: var(--bg-light);
}

.logo {
    font-family: "Pacifico", cursive;
    font-size: 2.3rem;
    color: var(--orange);
}

.sidebar {
    width: 300px;
    height: 100vh;
    padding: 1.5rem;
    background-color: var(--blue);
    color: var(--bg-light);
    position: absolute;
    left: -300px;
    transition: .4s;
}

.sidebar a {
    color: var(--bg-light);
}

.sidebar ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 1rem;
}

.sidebar li {
    border-bottom: 1px var(--bg-light) solid;
    padding-bottom: 1rem;
}

.sidebar .no-border {
    border-bottom: none;
}

.sidebar .fa-regular {
    font-size: 2rem;
    position: relative;
    left: 220px;
}

.sidebar .fa-regular:hover {
    color: var(--muted);
}

.sidebar.active {
    left: 0;
}

#main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

#main-nav .fa-bars {
    font-size: 2.1rem;
    color: var(--bg-light);
    cursor: pointer;
}

/* Banner Section */
.banner {
    background: url('../images/banner.jpg') no-repeat center center/cover;
    height: 67vh;
    text-align: center;
}

.banner .flex-container {
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero {
    color: var(--blue);
    font-size: 3.2rem;
}

.intro-text {
    width: 65ch;
    margin: 1.3rem 0;
    line-height: 1.7;
    color: var(--light-grey);
}